/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #3d3d3d;
  font-size: 14px;
}

section {
  padding: 85px 0;
}

.container {
  max-width: 900px;
  padding: 0 40px;
  margin: 0 auto;
}

.section-title {
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 10px 0 10px 0;
}

section .section-subtitle {
  font-size: 18px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 24px 0 10px 0;
}

section p.intro {
  font-style: italic;
  margin: 0 0 40px 0;
  font-size: 16px;
}

/* Header*/
header {
  position: relative;
  height: 640px;
}

nav {
  color: white;
  padding: 30px 0;
}

nav div {
  padding: 6px;
}

nav div a {
  text-decoration: none;
  color: gold;
  font-family: "Lily Script One", cursive;
  font-size: 20px;
}

nav ul {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

nav ul li {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

header img {
  margin-top: -124px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-inner {
  color: white;
  min-height: 300px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-inner h2 {
  font-size: 36px;
  text-transform: capitalize;
  font-style: italic;
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  margin: 40px 0 0 0;
}

.header-inner h1 {
  font-size: 64px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 20px 0 42px 0;
}

.header-inner button {
  min-width: 242px;
  min-height: 64px;
  border-radius: 5px;
  border: none;
  background: gold;
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* Services */
.services .card {
  margin: 10px 7px 10px 7px;
}

.services .card i {
  color: gold;
  font-size: 70px;
  position: relative;
}

.services .card i i {
  font-size: 30px;
  color: gold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Portfolio */
.portfolio {
  background: #F5F5F5;
}

.portfolio .card {
  background: white;
  margin: 20px 0 20px 0;
}

.portfolio .card .card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  background: white;
}

.card-body .section-subtitle {
  margin-bottom: 0;
}

.card-body p {
  margin: 0;
  padding: 0 0 25px 0;
}

/* Footer */
div.footer-inner:first-child {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  text-align: left;
}

ul.footer {
  -ms-flex-pack: center;
      justify-content: center;
  padding: 24px 0;
  margin: 0;
  text-align: center;
}

.footer li {
  display: inline-block;
  font-size: 0;
  margin: 5px;
}

.footer li i {
  font-size: 18px;
  background: black;
  color: white;
  line-height: 36px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  transition: all 0.5s;
}

.footer li i:hover {
  transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */